absl-py==0.1.12
astor==0.6.2
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==1.5.0
cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
crcmod==1.7
decorator==4.2.1
dill==0.2.7.1
Django==1.10.5
django-unixdatetimefield==0.1.6
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
enum34==1.1.6
Flask==0.12.2
funcsigs==1.0.2
funcy==1.10.1
future==0.16.0
futures==3.2.0
fuzzywuzzy==0.15.1
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gast==0.2.0
gensim==3.3.0
google-api-core==0.1.4
google-api-python-client==1.6.5
google-auth==1.4.1
google-cloud==0.32.0
google-cloud-container==0.1.1
google-cloud-core==0.28.1
google-cloud-datastore==1.4.0
google-cloud-dns==0.28.0
google-cloud-error-reporting==0.28.0
google-cloud-firestore==0.28.0
google-cloud-language==1.0.1
google-cloud-logging==1.4.0
google-cloud-monitoring==0.28.1
google-cloud-pubsub==0.30.1
google-cloud-resource-manager==0.28.1
google-cloud-runtimeconfig==0.28.1
google-cloud-spanner==0.29.0
google-cloud-storage==1.6.0
google-cloud-trace==0.17.0
google-gax==0.15.16
googleapis-common-protos==1.5.3
grpc-google-iam-v1==0.11.4
grpcio==1.10.0
html5lib==0.9999999
httplib2==0.11.0
idna==2.6
ipaddr==2.2.0
ipython==5.5.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
joblib==0.11
Markdown==2.6.11
MarkupSafe==1.0
meld3==1.0.2
mercurial==4.0
mock==2.0.0
murmurhash==0.26.4
mysql==0.0.1
mysql-connector-python==8.0.6
MySQL-python==1.2.5
numexpr==2.6.4
numpy==1.14.2
oauthlib==2.0.6
oauth2==1.9.0.post1
oauth2client==4.1.2
pandas==0.18.1
pathlib==1.0.1
pathlib2==2.3.0
pathspec==0.5.0
pbr==3.1.1
pexpect==4.4.0
pickleshare==0.7.4
plac==0.9.6
pluggy==0.6.0
ply==3.8
preshed==1.0.0
prompt-toolkit==1.0.15
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.5.2.post1
psutil==5.4.3
ptyprocess==0.5.2
py==1.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
Pygments==2.2.0
pyLDAvis==2.1.1
PyMySQL==0.8.0
pyreadline==2.1
pytest==3.4.0
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
s3transfer==0.1.11
scandir==1.7
scikit-learn==0.19.1
scipy==1.0.0
selenium==2.53.6
semantic-version==2.5.0
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.6
supervisor==3.3.1
tabulate==0.7.5
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
thinc==6.5.2
toolz==0.8.2
tqdm==4.15.0
traitlets==4.3.2
tweepy==3.5.0
tweet-preprocessor==0.5.0
uritemplate==3.0.0
urllib3==1.22
uwsgi==2.0.17
virtualenv==15.2.0
wcwidth==0.1.7
websocket-client==0.44.0
Werkzeug==0.14.1
wrapt==1.10.11